@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Assignment 3A & 3B - ASP.Net Core - COMP2084</p>
        <p>
            CRUD (Create, Read, Update, Delete) functionality is implemented in this website.
            <br />
            This website is connected to the database called DiversityClothing to make this website dynamic.
            <br />
            Authorization & Authentication are implemented.
        </p>
        <p>
            Boostrap theme: <a href="https://bootswatch.com/pulse/">bootswatch.com/minty</a>
            <br />
            Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </p>

    </div>
